{% extends 'layouts/base.html' %}

{% block title %}Liste des spectacles{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if perms.catalogue.add_show %}
        <a href="{% url 'catalogue:show-create' %}" class="btn btn-primary">Créer un spectacle</a>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Lieu</th>
                <th>Bookable</th>
            </tr>
        </thead>
        <tbody>
        {% for show in shows %}
            <tr>
                <td><a href="{% url 'catalogue:show-show' show.id %}">{{ show.title }}</a></td>
                <td>{{ show.description|default:"-" }}</td>
                <td>{{ show.location.designation|default:"-" }}</td>
                <td>{{ show.bookable|yesno:"Yes,No" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
