{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ show.title }}</h1>

    {% if show.poster_url %}
    <p><img src="{% static 'catalogue/images/' %}{{ show.poster_url }}" alt="{{ show.title }}" width="200"></p>
    {% else %}
    <canvas width="200" height="100" style="border:1px solid #000000;"></canvas>
    {% endif %}
    
    {% if show.location %}
    <p><strong>Lieu de création:</strong> {{ show.location.designation }}</p>
    {% endif %}
        
    <p><strong>Durée :</strong> {{ show.duration }} minutes</p>
    <p><strong>Année de création :</strong> {{ show.created_in }}</p>
        
    {% if show.bookable %}
    <p><em>Réservable</em></p>
    {% else %}
    <p><em>Non réservable</em></p>
    {% endif %}

    {% if perms.catalogue.change_show %}
        <a href="{% url 'catalogue:show-edit' show.id %}" class="btn btn-warning">Modifier</a>
    {% endif %}
    {% if perms.catalogue.delete_show %}
        <form action="{% url 'catalogue:show-delete' show.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
    {% endif %}

    <nav><a href="{% url 'catalogue:show-index' %}">Retour à l'index</a></nav>
{% endblock %}
