{% extends 'layouts/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<article>
    <h1>Représentation du {{ rep_date }} à {{ rep_time }}</h1>
    <p><strong>Spectacle:</strong> {{ representation.show.title }}</p>

    <p><strong>Lieu:</strong>
    {% if representation.location %}
    {{ representation.location.designation }}
    {% elif representation.show.location %}
    {{ representation.show.location.designation }}
    {% else %}
    <em>à déterminer</em>
    {% endif %}
    </p>
</article>

{% if perms.catalogue.change_representation %}
    <a href="{% url 'catalogue:representation-edit' representation.id %}" class="btn btn-warning">Modifier</a>
{% endif %}
{% if perms.catalogue.delete_representation %}
    <form action="{% url 'catalogue:representation-delete' representation.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>
{% endif %}

<nav><a href="{% url 'catalogue:representation-index' %}">Retour à l'index</a></nav>
{% endblock %}
