[flake8]
max-line-length = 120
exclude =
    env,
    venv,
    node_modules,
    migrations,
    */migrations/*,
    __pycache__,
    .git,
    staticfiles,
    media
per-file-ignores =
    __init__.py:F401,F403,F405
    */__init__.py:F401,F403,F405
    apps.py:F401
    admin.py:F401
    models.py:F401
    tests.py:F401,F841
    views.py:F401
    urls.py:F401
    */models/*.py:F401,F403,F405
    */views/*.py:F401
ignore =
    E114,
    W503,
    E203,
    E226
