{% extends "layouts/base.html" %}

{% block title %}Supprimer un artiste{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-danger">Supprimer un artiste</h1>

  <p>
    Es-tu sûr de vouloir supprimer l’artiste :
    <strong>{{ artist.firstname }} {{ artist.lastname }}</strong> ?
  </p>

  <form method="post">
    {% csrf_token %}

    <a href="{% url 'catalogue:artist-index' %}" class="btn btn-secondary">
      Annuler
    </a>

    <button type="submit" class="btn btn-danger">
      Confirmer la suppression
    </button>
  </form>
</div>
{% endblock %}
