{% extends 'layouts/base.html' %}
{% load i18n %}

{% block title %}{% trans "Fiche d'un artiste" %}{% endblock %}

{% block content %}
    <div class="card-artiste">
        <p class="card-title">{{ artist.firstname }} {{ artist.lastname }}</p>
        <p class="card-subtitle">{% trans "Artiste" %}</p>

        <div class="card-actions">
            <a class="btn btn-primary" href="{% url 'catalogue:artist-edit' artist.id %}">{% trans "Modifier" %}</a>

            <form method="post" action="{% url 'catalogue:artist-delete' artist.id %}"
                onsubmit="return confirm('{% trans "Êtes-vous sûr de vouloir supprimer ?" %}')">
                {% csrf_token %}
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger">{% trans "Supprimer" %}</button>
            </form>
        </div>
    </div>

    <nav><a href="{% url 'catalogue:artist-index' %}">{% trans "Retour à l'index" %}</a></nav>
{% endblock %}
