<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Projet Réservations{% endblock %}</title>
</head>
<body>

    <header>
        <h1>🎭 Projet Réservations</h1>

        <nav>
            <a href="{% url 'catalogue:home' %}">Accueil</a> |
            <a href="{% url 'catalogue:artist-index' %}">Artistes</a> |
            <a href="/admin/">Admin</a>
        </nav>

        <hr>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
