{% extends 'layouts/base.html' %}

{% block title %}Liste des types{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if perms.catalogue.add_type %}
        <a href="{% url 'catalogue:type-create' %}" class="btn btn-primary">Créer un type</a>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td><a href="{% url 'catalogue:type-show' type.id %}">{{ type.type }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
