{%extends 'layouts/base.html'%}

{%block title %} Modifier un artist {% endblock %}

{% block content %}
    <H2>Modifier un artiste</H2>
    <form action="{%url 'catalogue:artist-edit' artist.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="_method" value="PUT">

        <div class="form-group">
            <label for="{{ form.firstname.id_for_label }}">Prénom</label>
            <input class="form-input"
                   type="text"
                   name="{{ form.firstname.html_name }}"
                   id="{{ form.firstname.id_for_label }}"
                   value="{{ form.firstname.value|default:'' }}">
        </div>

        <div class="form-group">
            <label for="{{ form.lastname.id_for_label }}">Nom</label>
            <input class="form-input"
                   type="text"
                   name="{{ form.lastname.html_name }}"
                   id="{{ form.lastname.id_for_label }}"
                   value="{{ form.lastname.value|default:'' }}">
        </div>

        <button class="btn btn-primary">Modifier</button>
        <a class="btn" href="{%url 'catalogue:artist-show' artist.id %}">Annuler</a>

    </form>
    <nav><a href="{%url 'catalogue:artist-index' %}"> Retour à la l'index</a></nav>
{% endblock %}
