{% extends 'layouts/base.html' %}

{% block title %}Liste des lieux de spectacle{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if perms.catalogue.add_location %}
        <a href="{% url 'catalogue:location-create' %}" class="btn btn-primary">Créer un lieu</a>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Designation</th>
                <th>Website</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td><a href="{% url 'catalogue:location-show' location.id %}">{{ location.designation }}</a></td>
                <td>
                    {% if location.website %}
                        <a href="{{ location.website }}">{{ location.website }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
