{% extends 'layouts/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p><strong>Code Postal:</strong> {{ locality.postal_code }}</p>
    <p><strong>Localité:</strong> {{ locality.locality }}</p>

    {% if perms.catalogue.change_locality %}
        <a href="{% url 'catalogue:locality-edit' locality.id %}" class="btn btn-warning">Modifier</a>
    {% endif %}
    {% if perms.catalogue.delete_locality %}
        <form action="{% url 'catalogue:locality-delete' locality.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
    {% endif %}

    <a href="{% url 'catalogue:locality-index' %}">Retour à la liste</a>
{% endblock %}
